.foto-alcaraz {
    width: 350px;
    display: flex;
    margin: auto;
    padding-bottom: 10px;
}
.fotos-index{
    width: 300px;
    display: flex;
    margin: auto;
    padding-bottom: 10px;
}
